{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<main id="main" class="site-main main">
<section class="hero" style="
height:500px;  
background-image: url(https://wallpapershome.ru/images/pages/pic_h/22520.jpg);
background-size: cover;
">

    <!-- Large header banner -->
   
    <div class="container" style="padding-left: 75px;">
       <h1 class="text-bold" style="color: white;
       padding-top: 47px;
       font-size: 70px;
       text-shadow: #5c5b5b 1px 0 10px;">Скоро в кино!</h1>
       <h5 class="text-gray-soft text-regular" 
       style="color: #ffffff;
       font-size: 30px;
       padding-left: 7px;
       padding-bottom: 20px;">Успейте купить билеты</h5>
       <button type="button" class="btn btn-primary mt-4" style="margin-left: 7px;">Посмотреть трейлер</button>

    </div>

    
      
  </section>
</main>

{% endblock %}