{% extends 'base.html' %}

{% block title %}Войти{% endblock %}

{% block content %}
<h1>Войти</h1>
<form method="POST" style="width: 300px">
    <div class="form-group">
        <label for="username">Логин</label>
        <input type="text" class="form-control" id="username" name="username" />
    <div class="form-group mb-4">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
{% endblock %}