{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Регистрация</h1>
<form method="POST" style="width: 400px;">
    <div class="form-group">
        <label for="username ">Логин</label>
        <input type="text" class="form-control mb-2" id="username" name="username" />
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" class="form-control  mb-2" id="password" name="password" required>
    </div>
    <div class="form-group">
        <label for="password">Роль</label>
        <input type="text" class="form-control mb-2" id="role" name="role" required>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Зарегистрироваться</button>
</form>
{% endblock %}